*{
	margin: 0;
	padding: 0;
	list-style: none;
    box-sizing: border-box;
}
body{
    font-family: '微软雅黑';
    font-size: 12px;
}
a,a:hover,a:visited,a:focus{
	text-decoration: none;
}
/* 顶部菜单栏开始 */
.viewFramework-topbar{
	position: fixed;
    top:0;
    width: 100%;
    height: 50px;
    background: #373d41;
    z-index: 101;
}
.console-component-topbar{
	position: relative;
    z-index: 100;
    clear: both;
    height: 50px;
    background: #373d41;
    font-size: 12px;
    min-width: 990px;
}
.console-component-topbar .topbar-head {
    background: #2a2f32;
    height: 50px;
    position: relative;
    z-index: 3;
}
.console-component-topbar .topbar-btn {
    color: #fff;
    font-size: 14px;
    line-height: 50px;
}

.console-component-topbar .topbar-logo {
    display: block;
    width: 50px;
    font-size: 24px !important;
    color: #FFF;
    text-align: center;
    line-height: 50px;
    margin-right: 1px;
    background: #373d41;
}
.console-component-topbar .topbar-left {
    float: left;
}
.console-component-topbar .topbar-home-link {
    margin-right: 1px;
    background: #373d41;
    width: 129px;
    text-align: center;
}
.console-component-topbar span{
    text-rendering: optimizeLegibility;
    letter-spacing: 0.02em;
    line-height: 50px;
}

.console-component-topbar .topbar-product-btn {
    padding: 0 20px;
    display: inline-block;
    height: 50px;
    cursor: pointer;
}
.console-component-topbar .topbar-product.active,.console-component-topbar .topbar-product.active .topbar-btn:hover{
    background: #fff;
}

.topbar-product.active span{
    color: #000;
}
.console-component-topbar .topbar-product-dropdown {
    position: fixed;
    top: 50px;
    right: 0;
    left: 0;
    border: none;
    margin: 0;
    z-index: -1 !important;
    display: none;
}
.console-component-topbar .product-show{
    display: block;
}
.console-component-topbar .topbar-product-container {
    position: absolute;
    min-height: 240px;
    left: 0;
    right: 0;
    background: #fff;
    -o-transition: all 0.15s, 0.15s;
    -moz-transition: all 0.15s, 0.15s;
    -webkit-transition: all 0.15s, 0.15s;
    transition: all 0.15s, 0.15s;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.console-component-topbar .topbar-product-close {
    position: absolute;
    left: 50%;
    bottom: -20px;
    width: 50px;
    height: 20px;
    margin-left: -25px;
    text-align: center;
    line-height: 20px;
    background: #fff;
    cursor: pointer;
    -webkit-box-shadow: 0 5px 2px 0 rgba(0,0,0,0.1);
    -moz-box-shadow: 0 5px 2px 0 rgba(0,0,0,0.1);
    box-shadow: 0 5px 2px 0 rgba(0,0,0,0.1);
    -o-transition: all 0.15s, 0.15s;
    -moz-transition: all 0.15s, 0.15s;
    -webkit-transition: all 0.15s, 0.15s;
    transition: all 0.15s, 0.15s;
}
.console-component-topbar .topbar-info {
    background: #2a2f32;
    position: absolute;
    z-index: 3;
    top: 0;
    right: 0;
}
.console-component-topbar .topbar-right {
    float: right;
}
.console-component-topbar .topbar-wrap, .console-component-topbar .topbar-logo, .console-component-topbar .topbar-home, .console-component-topbar .topbar-home-link, .console-component-topbar .topbar-product, .console-component-topbar .topbar-info {
    height: 100%;
}
.console-component-topbar .topbar-search {
    position: relative;
}

.console-component-topbar .topbar-left {
    float: left;
}
.console-component-topbar .topbar-notice {
    position: relative;
    font-size: 12px;
}
.console-component-topbar .topbar-info-item {
    display: inline-block;
}
.console-component-topbar .topbar-notice .topbar-btn {
    padding: 0 16px;
}
.console-component-topbar .topbar-info .topbar-btn {
    padding: 0 18px;
    height: 50px;
    display: block;
    z-index: 2;
    background: #373d41;
    border-right: 1px solid #2a2f32;
}
.console-component-topbar .topbar-search .topbar-search-dropdown {
    height: 38px;
    position: absolute;
    bottom: -38px;
    right: -1px;
    left: auto;
    border: 2px solid #2a2f32;
    background: #fff;
    display: none;
}
.console-component-topbar .topbar-search .topbar-search-dropdown input {
    display: block;
    height: 34px;
    padding: 4px 6px;
    margin-right: 30px;
    width: 250px;
    border-width: 0;
    outline: 0;
    line-height: 34px;
    color: #546478;
    font-size: 12px;
}
.console-component-topbar .topbar-search .topbar-search-dropdown .topbar-search-mark {
    position: absolute;
    right: 0;
    top: 0;
    height: 34px;
    width: 34px;
    display: block;
    line-height: 34px;
    text-align: center;
    color: #546478;
}
.console-component-topbar .topbar-btn-notice .topbar-btn-notice-num {
    font-size: 12px;
    color: #fff;
    background: #ff9900;
    border-radius: 5px;
    padding: 2px 5px;
    display: inline-block;
    margin-top: 15px;
    line-height: 16px;
    vertical-align: top;
    text-align: center;
}
.console-component-topbar .topbar-notice .topbar-notice-panel {
    position: absolute;
    top: 50px;
    left: -220px;
    margin-left: 50%;
    width: 440px;
    border-radius: 2px;
    z-index: 15;
    display: none;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.175);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.175);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.175);
}
.console-component-topbar .topbar-notice .topbar-notice-panel .topbar-notice-arrow {
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #eaedf1;
    position: absolute;
    top: -6px;
    left: 217px;
}
.console-component-topbar .topbar-notice .topbar-notice-panel .topbar-notice-head {
    height: 50px;
    background-color: #eaedf1;
    padding: 0 15px;
    line-height: 50px;
    color: #333;
    font-size: 14px;
}
.console-component-topbar .topbar-notice .topbar-notice-panel .topbar-notice-body {
    height: 300px;
    overflow-y: auto;
    background: #fff;
    font-size: 12px;
}
.console-component-topbar .topbar-notice .topbar-notice-panel .topbar-notice-body .topbar-notice-empty {
    text-align: center;
    color: #666;
    margin-top: 80px;
}
.console-component-topbar .topbar-notice .topbar-notice-panel .topbar-notice-foot {
    height: 50px;
    line-height: 50px;
    background: #fff;
    text-align: center;
}
.console-component-topbar .topbar-info-dropdown-memu-list {
    padding: 10px 0;
    margin: -2px;
}

.console-component-topbar .topbar-info-dropdown-memu {
    padding: 0;
    position: absolute;
    top: 100%;
    right: 0;
    visibility: hidden;
    float: left;
    list-style: none;
    background-color: #ffffff;
    background-clip: padding-box;
    z-index: 1;
    font-size: 12px;
    min-width: 100%;
    margin: 0;
    border: none;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    -webkit-transition: opacity 0.15s, visibility 0s 0.15s;
    transition: opacity 0.15s, visibility 0s 0.15s;
    opacity: 0;
}
.component-topbar li {
    text-rendering: optimizeLegibility;
    letter-spacing: 0.02em;
}
.console-component-topbar .topbar-info .topbar-info-btn a {
    height: 40px;
    line-height: 39px;
    padding: 0 18px;
}
.console-component-topbar .dropdown-menu{
	left: -94px;
    top: 47px;
}
.console-component-topbar .topbar-align-right {
    right: 0;
    left: auto;
}
.console-component-topbar .topbar-user .topbar-info-dropdown-menu .topbar-user-entrance-list {
    overflow: hidden;
    width: 270px;
    margin: 8px 0;
    padding: 8px 15px;
}
.console-component-topbar .topbar-user .topbar-info-dropdown-menu .topbar-user-entrance {
    width: 80px;
    height: 80px;
    float: left;
    text-align: center;
    color: #333;
    -webkit-transition: background 0.15s;
    transition: background 0.15s;
    border-radius: 2px;
}
.console-component-topbar .topbar-user .topbar-info-dropdown-menu .topbar-user-entrance span.ng-binding{
    font-size: 12px;
    line-height: 20px;
}
.console-component-topbar .topbar-user .topbar-info-dropdown-menu .topbar-user-entrance-logo {
    font-size: 20px;
    margin: 8px auto 4px;
    width: 40px;
    height: 40px;
    display: block;
    vertical-align: middle;
    line-height: 40px;
    color: #788D9B;
}
.console-component-topbar .topbar-user .topbar-info-dropdown-menu .topbar-user-entrance:hover,.console-component-topbar .topbar-user .topbar-info-dropdown-menu .user-btn-list .user-btn-link:hover {
    background: #f5f5f5;
}
.console-component-topbar .topbar-user .topbar-info-dropdown-menu .user-btn-list .user-btn-link {
    height: 50px;
    line-height: 50px;
    display: block;
    -webkit-transition: all 0.15s;
    transition: all 0.15s;
    text-align: center;
    color: #333;
    border-top: 1px solid #f5f5f5;
}
.console-component-topbar span, .console-component-topbar a, .console-component-topbar p, .console-component-topbar li {
    text-rendering: optimizeLegibility;
    letter-spacing: 0.02em;
}
.console-component-topbar .topbar-btn:hover, .console-component-topbar .topbar-btn.topbar-btn-dark {
    background: #2a2f32;
}
.console-component-topbar .topbar-product-dropdown {
    position: fixed;
    top: 50px;
    right: 0;
    left: 0;
    border: none;
    margin: 0;
    z-index: -1 !important;
    display: none;
}
.console-component-topbar .topbar-show {
    display: block !important;
}
.topbar-product .rotate-180{
    transform: rotate(180deg);
}
/* 顶部菜单栏结束 */

/* 左侧导航栏开始 */
.viewFramework-body {
    position: absolute;
    width: 100%;
    top: 50px;
    bottom: 0px;
    background-color: #F7F6F2;
    /*z-index: 5;*/
}
.viewFramework-sidebar-mini .viewFramework-sidebar, .viewFramework-sidebar.sidebar-mini {
    width: 50px;
    display: block;
}
.viewFramework-sidebar {
    width: 0px;
    display: none;
    position: fixed;
    top: 50px;
    bottom: 0px;
    background-color: #293038;
    z-index: 100;
    /* overflow-y: hidden; */
}
.viewFramework-sidebar-mini .viewFramework-sidebar .sidebar-content, .viewFramework-sidebar.sidebar-mini .sidebar-content {
    width: 70px;
}
.console-component-sidebar.sidebar-content {
    width: 180px;
    height: 100%;
    /* overflow: auto; */
    /* overflow: hidden; */
    /* overflow-y: hidden; */
}
.viewFramework-sidebar-mini .console-component-sidebar, .viewFramework-sidebar-mini .sidebar-content {
    width: 50px !important;
    display: block;
}
.viewFramework-sidebar-mini .viewFramework-sidebar .sidebar-fold, .viewFramework-sidebar.sidebar-mini .sidebar-fold {
    width: 50px;
}
.console-component-sidebar .sidebar-fold {
    height: 30px;
    width: 180px;
    background: #4A5064;
    color: #aeb9c2;
    text-align: center;
    line-height: 30px !important;
    font-size: 12px;
    user-select: none;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
}
.console-component-sidebar .sidebar-fold .rotate-90{
    transform: rotate(90deg);
}
.viewFramework-sidebar-mini .viewFramework-sidebar .sidebar-nav, .viewFramework-sidebar.sidebar-mini .sidebar-nav {
    width: 50px;
}
.console-component-sidebar .sidebar-nav .sidebar-title {
    height: 40px;
    background: #42485B;
    color: #fff;
    line-height: 40px;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
}
.console-component-sidebar .sidebar-nav .sidebar-title {
    height: 40px;
    width: 50px;
    background: #42485B;
    color: #fff;
    line-height: 40px;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
}
.console-component-sidebar .sidebar-nav .nav-item.current{
    background: #009ad1;
}
.console-component-sidebar .sidebar-nav-active .sidebar-title-icon.caret {
    /*vertical-align: text-top;*/
    transform: rotate(-90deg);
}
.console-component-sidebar .sidebar-nav-active .active .sidebar-title-icon.caret{
    transform: rotate(0deg);
}
.console-component-sidebar .sidebar-nav .sidebar-title-icon {
    display: inline-block;
    margin: 0 8px 0 16px;
    vertical-align: middle;
    font-size: 16px;
    transition: transform 0.12s;
    -o-transition: -o-transform 0.12s;
    -ms-transition: -ms-transform 0.12s;
    -moz-transition: -moz-transform 0.12s;
    -webkit-transition: -webkit-transform 0.12s;
}
.viewFramework-sidebar-mini .viewFramework-sidebar .sidebar-title .sidebar-title-text, .viewFramework-sidebar.sidebar-mini .sidebar-title .sidebar-title-text {
    display: none;
}

.console-component-sidebar .sidebar-manage {
    vertical-align: middle;
    position: absolute;
    height: 40px;
    width: 40px;
    right: 0;
    top: 0;
    display: none;
}
.viewFramework-sidebar-mini .console-component-sidebar .sidebar-manage, .viewFramework-sidebar-mini .sidebar-content .sidebar-manage {
    display: none !important;
}
.console-component-sidebar .sidebar-manage a {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 40px;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
}
.console-component-sidebar .sidebar-nav ul {
    width: 180px;
    margin: 0;
    padding: 0;
    list-style: none;
    display: none;
    /* overflow-y: scroll; */
    /* overflow-x: hidden; */
}
.viewFramework-sidebar-mini .console-component-sidebar .sidebar-nav ul, .viewFramework-sidebar-mini .sidebar-content .sidebar-nav ul {
    width: 50px;
}
.console-component-sidebar .sidebar-nav .nav-item {
    position: relative;
}
.console-component-sidebar .sidebar-nav li.active a {
    background: #00C1DE;
    transition: none;
    -webkit-transition: none;
}
.viewFramework-sidebar-mini .console-component-sidebar .sidebar-nav ul li a, .viewFramework-sidebar-mini .sidebar-content .sidebar-nav ul li a {
    width: 50px;
}
.viewFramework-sidebar-full .console-component-sidebar .sidebar-nav .nav-icon {
    width: 50px;
    text-align: center;
    font-size: 12px;
    float: left;
    color: #aeb9c2;
    margin-left: 10px;
}
.viewFramework-sidebar-mini .console-component-sidebar .sidebar-nav .nav-icon {
    width: 50px;
    text-align: center;
    font-size: 12px;
    float: left;
    color: #aeb9c2;
    margin-left: 0px;
}
.console-component-sidebar .sidebar-nav li.active a .nav-icon {
    color: #fff;
}
.viewFramework-sidebar-mini .viewFramework-sidebar .sidebar-nav .nav-title, .viewFramework-sidebar.sidebar-mini .sidebar-nav .nav-title {
    display: none;
}
.viewFramework-sidebar-full .console-component-sidebar .sidebar-nav .nav-title {
    float: left;
    overflow: hidden;
    color: #fff;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    width: 128px;
    margin-left: -8px;
}

.console-component-sidebar .sidebar-nav li.active a .nav-title {
    color: #fff;
}
.console-component-sidebar span, .console-component-sidebar a, .console-component-sidebar p, .console-component-sidebar li {
    text-rendering: optimizeLegibility;
    letter-spacing: 0.02em;
}
.console-component-sidebar .sidebar-nav li a{
    line-height: 40px;
}
.console-component-sidebar .sidebar-nav li:hover {
    background: #4A5064;
}
.console-component-sidebar .sidebar-nav .sidebar-title:hover {
    background: #009ad1;
}

    /* 导航栏展开状态开始 */

.viewFramework-sidebar-full .viewFramework-sidebar, .viewFramework-sidebar.sidebar-full {
    width: 180px;
    display: block;
}
.viewFramework-sidebar-full .console-component-sidebar .sidebar-nav .sidebar-title{
    width: 180px;
}
.viewFramework-sidebar-full .sidebar-fold span{
    transform: rotate(90deg);
}

    /* 导航栏展开状态结束 */
/* 左侧导航栏结束 */
/*三级菜单*/
.viewFramework-sidebar-full .viewFramework-product {
        left: 180px;
    }
    .viewFramework-sidebar-mini .viewFramework-product {
        left: 50px;
    }
    .viewFramework-product {
        width: auto;
        position: absolute;
        top: 0px;
        left: 0px;
        bottom: 0px;
        right: 0px;
        overflow: hidden;
        background: #F7F6F2;
    }
    .viewFramework-product-col-1 .viewFramework-product-navbar-bg, .viewFramework-product-col-1 .viewFramework-product-navbar {
        width: 180px;
    }
    .viewFramework-product-navbar {
        width: 0px;
        float: left;
        background-color: #EAEDF1;
        position: absolute;
        top: 0px;
        bottom: 0px;
        z-index: 999;
        overflow: hidden;
        -o-transition: all 0.2s ease;
        -ms-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        -webkit-transition: all 0.2s ease;
    }
    .viewFramework-product-navbar .product-nav-stage {
        width: 180px;
        overflow: hidden;
        position: absolute;
        top: 0px;
        bottom: 0px;
        right: 0px;
    }
    .viewFramework-product-navbar .product-nav-stage-main .product-nav-main-scene {
        left: 0px;
    }
    .viewFramework-product-navbar .product-nav-stage .product-nav-scene {
        width: 180px;
        position: absolute;
        top: 0px;
        bottom: 0px;
        -webkit-transition: position,.2s,linear;
        -moz-transition: position,.2s,linear;
    }
    .viewFramework-product-navbar .product-nav-main-scene .product-nav-title {
        font-weight: bold;
        text-indent: 20px;
    }
    .viewFramework-product-navbar .product-nav-scene .product-nav-title {
        width: 180px;
        height: 70px;
        line-height: 70px;
        background: #D9DEE4;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 14px;
    }
    .viewFramework-product-navbar .product-nav-list {
        position: absolute;
        top: 70px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        overflow-y: auto;
        overflow-x: hidden;
    }
    .viewFramework-product-navbar .product-nav-list ul li:last-child{
        border-top: 1px solid #ddd;
    }
    .viewFramework-product-navbar .product-nav-list ul {
        list-style: none;
        padding: 0px;
        margin: 0px;
    }
    .viewFramework-product-navbar .product-nav-list li.active a {
        background-color: #F7F6F2;
    }
    .viewFramework-product-navbar .product-nav-list li a {
        width: 180px;
        height: 40px;
        line-height: 40px;
        display: block;
        color: #333;
    }
    .viewFramework-product-navbar .product-nav-list .nav-icon {
        width: 30px;
        height: 40px;
        float: left;
        text-align: center;
        font-size: 16px;
        color: #333;
        line-height: 40px;
        margin-left: 12px;
    }
    .viewFramework-product-navbar .product-nav-list .nav-title {
        width: 138px;
        float: left;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .viewFramework-product-col-1 .viewFramework-product-navbar-collapse {
        left: 160px;
    }
    .viewFramework-product-navbar-collapse {
        position: absolute;
        left: 0;
        top: 50%;
        width: 20px;
        height: 50px;
        z-index: 1000;
        -o-transition: all 0.2s ease;
        -ms-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        -webkit-transition: all 0.2s ease;
    }
    .viewFramework-product-navbar-collapse .product-navbar-collapse-inner {
        top: -50%;
        position: relative;
        overflow: hidden;
    }
    .viewFramework-product-col-1 .viewFramework-product-navbar-collapse .product-navbar-collapse-bg {
        right: 0;
        left: auto;
        border-bottom: 9px solid transparent;
        border-left: none;
        border-right: 13px solid #f7f7f7;
        border-top: 9px solid transparent;
    }
    .viewFramework-product-col-1 .viewFramework-product-navbar-collapse:hover .product-navbar-collapse-bg {
        border-bottom: 8px solid transparent;
        border-left: none;
        border-right: 20px solid #f7f7f7;
        border-top: 8px solid transparent;
    }
    .viewFramework-product-navbar-collapse:hover .product-navbar-collapse-bg {
        border-bottom: 8px solid transparent;
        border-left: 20px solid #D9DEE4;
        border-top: 8px solid transparent;
    }
    .viewFramework-product-navbar-collapse .product-navbar-collapse-bg {
        width: 0;
        height: 50px;
        position: absolute;
        top: 0;
        left: 0;
        border-bottom: 9px solid transparent;
        border-left: 13px solid #D9DEE4;
        border-top: 9px solid transparent;
        -o-transition: all 0.1s ease,0.1s ease;
        -ms-transition: all 0.1s ease,0.1s ease;
        -moz-transition: all 0.1s ease,0.1s ease;
        -webkit-transition: all 0.1s ease,0.1s ease;
    }
    .viewFramework-product-col-1 .viewFramework-product-navbar-collapse .product-navbar-collapse {
        right: -7px;
        left: auto;
    }
    .viewFramework-product-col-1 .viewFramework-product-navbar-collapse:hover .product-navbar-collapse {
        right: 0;
        left: auto;
    }
    .viewFramework-product-navbar-collapse:hover .product-navbar-collapse {
        left: -2px;
    }
    .viewFramework-product-navbar-collapse .product-navbar-collapse {
        height: 50px;
        position: relative;
        left: -9px;
        text-align: center;
        cursor: pointer;
        -o-transition: all 0.1s ease,0.1s ease;
        -ms-transition: all 0.1s ease,0.1s ease;
        -moz-transition: all 0.1s ease,0.1s ease;
        -webkit-transition: all 0.1s ease,0.1s ease;
    }
    .viewFramework-product-col-1 .viewFramework-product-navbar-collapse .product-navbar-collapse>span {
        color: #546478;
    }
    .viewFramework-product-col-1 .viewFramework-product-navbar-collapse .icon-collapse-left {
        display: inline;
    }
    .viewFramework-product-navbar-collapse .product-navbar-collapse>span {
        font-size: 15px;
        line-height: 50px;
        vertical-align: text-top;
    }
    .viewFramework-product-navbar-collapse .icon-collapse-left {
        display: none;
    }
    .viewFramework-product-col-1 .viewFramework-product-navbar-collapse .product-navbar-collapse>span {
        color: #546478;
    }
    .viewFramework-product-col-1 .viewFramework-product-navbar-collapse .icon-collapse-right {
        display: none;
    }
    .viewFramework-product-navbar-collapse .icon-collapse-right {
        display: inline;
    }
    .viewFramework-product-navbar-collapse .product-navbar-collapse>span {
        font-size: 15px;
        line-height: 50px;
        vertical-align: text-top;
    }
    .divider{
        height: 1px;
        margin: 9px 0;
        overflow: hidden;
        background-color: #e5e5e5;
    }

.viewFramework-body.viewFramework-sidebar-full .content-wrapper{
    position: absolute;
    left: 200px;
    min-width: 750px;
    width:calc(100% - 200px);
}
.viewFramework-body .content-wrapper{
    position: absolute;
    left: 70px;
    width:calc(100% - 70px);
}
.viewFramework-body.viewFramework-sidebar-full .content-wrapper.wrapper-l{
    position: absolute;
    left: 200px;
    min-width: 750px;
    width:calc(100% - 200px);
}

.viewFramework-body.viewFramework-sidebar-mini .content-wrapper.wrapper-s{
    position: absolute;
    left: 70px;
    min-width: 750px;
    width:calc(100% - 70px);
}
.viewFramework-body.viewFramework-sidebar-full.content-wrapper-f.viewFramework-product-col-1 .content-wrapper{
    position: absolute;
    left: 380px;
    min-width: 750px;
    width:calc(100% - 380px);
}
.viewFramework-body.viewFramework-sidebar-mini.content-wrapper-f.viewFramework-product-col-1 .content-wrapper{
    position: absolute;
    left: 240px;
    min-width: 750px;
    width:calc(100% - 240px);
}
.content-wrapper .nav-tabs-custom a.btn{
    color:#fff;
    margin-left: 10px;
}
/*.content-wrapper table.table-bordered {*/
    /*border: 1px solid #ccc;*/
/*}*/
/*.content-wrapper table.table-bordered th{*/
    /*background: #f3f3f3;*/
/*}*/
/* 公共ui */
.ui.button.small {
    font-size: 12px;
    height: 24px;
    line-height: 24px;
}

.ui.button.green {
    color: #FFF!important;
    background-color: #32be77!important;
}
.ui.button {
    font-size: 14px;
    padding: 3px 15px;
    text-transform: none;
    line-height: 30px;
    height: 30px;
    border-radius: 32px;
}
.ui.button.green:hover {
    background-color: #2eb06f!important;
}

.viewFramework-product-col-1 .viewFramework-product-body {
    left: 180px;
}
.viewFramework-product-body {
    position: absolute;
    width: auto;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    overflow: hidden;
    overflow-y: auto;
    -o-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
}

.alert-success {
    color: #090;
    background-color: #F2FFEA;
    border-color: #C7DDB9;
}
.viewFramework-product-body .viewFramework-body-container{
    margin-left: 60px;
    padding: 30px 60px 0;
}

/* user-account-wrapper */
.user-account-wrapper{
    display: none;
}
.user-account-wrapper.content-on{
    display: block;
}
.user-account-wrapper>section.summary {
    position: relative;
}
.user-account-wrapper>section {
    background: #FFF;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 30px;
}
.user-summary .user-icon{
    color: #009ad1;
}
.user-info h2{
    font-size: 18px;
    font-weight: 400;
    padding: 0 0 15px;
    margin: 0;
}
.user-info{
    margin-top: 15px;
}
.user-info .icon{
    color: #1E4A5E;
    font-size: 17px;
    display: inline-block;
    opacity: .75;
    margin: 0 .25em 0 0;

}
.user-info .column{
    font-size: 15px;
    color: #666;
}
.user-info .column .inner-item{
    margin-bottom: 15px;

}
.user-info .inner-item img{
    display: inline-block;
    max-width: 100%;
    height: auto;
    padding: 4px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 2px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    margin-right: 5px;
}
.upgrade-link{
    margin-left: 10px;
}
.gray{
    color: #444;
}
.user-account-wrapper>section>h3 {
    font-size: 20px;
    font-weight: 400;
    margin: 0 0 20px;
}

/* markdown content */

.markdown.content {
    font-size: 14px;
    line-height: 23px;
    overflow: hidden;
    word-wrap: break-word;
    color: #333;
}
.markdown.content>:last-child {
    margin-bottom: 0!important;
}
.markdown.content>:first-child {
    margin-top: 0!important;
}

.markdown.content table {
    width: 100%;
    overflow: auto;
    border-collapse: collapse;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.markdown.content thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}
.markdown.content table tr {
    border-top: 1px solid #ccc;
    background-color: #fff;
}
.markdown.content table td, .markdown.content table th {
    border: 1px solid #ddd;
    padding: 6px 13px;
}
.markdown.content table th {
    font-weight: 700;
    background: #eee;
}
table.text-align-left-th th {
    text-align: left;
}
.markdown.content tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}


/* 发票管理 */

.invoice-header{
    font-size: 18px;
    padding-bottom: 10px;
    font-weight: 400;
    border-bottom: 1px solid rgba(0,0,0,.1);
    margin: 30px 0;
}
.invoice-wrapper .invoice-available {
    font-size: 14px;
}
.invoice-wrapper .invoice-available em {
    font-style: normal;
    font-weight: 400;
    color: #D95C5C;
}
.invoice-wrapper .invoice-form{
    font-size: 14px;
    margin: 35px 0;
    position: relative;
    max-width: 100%;
}
.invoice-wrapper .invoice-form>.field {
    margin: 0 0 35px;
}
.invoice-form input{
    margin: 0;
    padding: 10px 16px;
    font-size: 16px;
    background-color: #FFF;
    border: 1px solid rgba(0,0,0,.15);
    outline: 0;
    color: rgba(0,0,0,.7);
    border-radius: 5px;
    transition: background-color .3s ease-out,box-shadow .2s ease,border-color .2s ease;
    box-shadow: 0 0 rgba(0,0,0,.3) inset;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;
}
.invoice-form input:focus{
    color: rgba(0,0,0,.85);
    border-color: rgba(0,0,0,.2);
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    -webkit-appearance: none;
    -webkit-box-shadow: 0.3em 0 0 0 rgba(0,0,0,.2) inset;
    box-shadow: 0.3em 0 0 0 rgba(0,0,0,.2) inset;
}
.invoice-wrapper .invoice-form .tips {
    font-size: 13px;
    color: #999;
    margin-left: 10px;
}
.invoice-wrapper .invoice-list h2 {
    font-size: 17px;
    font-weight: 400;
}

/* 个人设置 */
.user-setting .field{
    margin-bottom: 25px;
}
.user-setting .field label{
    margin: 0 0 5px;
    display: block;
    color: #555;
    font-size: 14px;
    line-height: 22px;
}
.user-setting .field input {
    opacity: .5;
    margin: 0;
    padding: 10px 16px;
    font-size: 16px;
    background-color: #FFF;
    border: 1px solid rgba(0,0,0,.15);
    outline: 0;
    color: rgba(0,0,0,.7);
    border-radius: 5px;
    transition: background-color .3s ease-out,box-shadow .2s ease,border-color .2s ease;
    box-shadow: 0 0 rgba(0,0,0,.3) inset;
    box-sizing: border-box;
    width: 100%;
}
.setting-fields{
    max-width: 700px;
    min-width: 700px;
    padding: 24px;
    position: relative;
    background-color: #FFF;
    box-shadow: 0 0 0 1px rgba(0,0,0,.1);
    margin: 16px 0;
    border-radius: 5px;
    box-sizing: border-box;
}
.user-setting .item-passed {
    background-color: #DEFCD5;
    color: #52A954;
    vertical-align: middle;
    margin-left: 4px;
    font-size: 12px;
    padding: 2px 3px;
    border-radius: 3px;
}
/* 个人设置弹窗部分 */
/*.pop-box{*/
    /*max-width: 480px;*/
    /*max-height: 400px;*/
    /*!* border: 1px solid #ddd; *!*/
    /*border-radius: 3px;*/
    /*box-shadow: 2px 2px 5px rgba(0,0,0,.1);*/
/*}*/
/*.pop-content{*/
    /*position: relative;*/
    /*z-index: 1001;*/
    /*width: 480px;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    /*padding: 30px 40px 40px;*/
    /*border-radius: 10px;*/
    /*background-color: #fff;*/
/*}*/
/*.pop-box .pop-content h2{*/
    /*margin: 0 0 25px;*/
    /*font-size: 25px;*/
    /*font-weight: 400;*/
    /*text-align: center;*/
    /*color: #323a45;*/
/*}*/
/*.pop-content .account-input{*/
    /*height: 68px;*/
    /*position: relative;*/
/*}*/

/*.pop-content .account-input.phone-input .current-country-code {*/
    /*height: 48px;*/
    /*line-height: 48px;*/
    /*width: 50px;*/
    /*padding-left: 8px;*/
    /*position: absolute;*/
    /*border: 1px solid rgba(50,58,69,.2);*/
    /*border-radius: 5px;*/
    /*position: absolute;*/
    /*border-right: none;*/
    /*border-top-right-radius: 0;*/
    /*border-bottom-right-radius: 0;*/
/*}*/
/*.pop-content .account-input.phone-input input {*/
    /*border-left: none;*/
    /*border-top-left-radius: 0;*/
    /*border-bottom-left-radius: 0;*/
    /*width: 350px;*/
    /*position: absolute;*/
    /*top: 0;*/
    /*right: 0;*/
/*}*/
/*.pop-content .account-input input {*/
    /*height: 48px;*/
    /*width: 400px;*/
    /*padding-left: 15px;*/
    /*padding-right: 15px;*/
    /*margin-bottom: 15px;*/
    /*font-size: 16px;*/
    /*border: 1px solid rgba(50,58,69,.2);*/
    /*border-radius: 5px;*/
/*}*/
/*.pop-content .account-input.phone-code input {*/
    /*margin-right: 140px;*/
    /*width: 280px;*/
/*}*/
/*.pop-content .account-input.phone-code a {*/
    /*position: absolute;*/
    /*top: 0;*/
    /*right: 0;*/
    /*display: inline-block;*/
    /*height: 30px;*/
    /*width: 100px;*/
    /*line-height: 30px;*/
    /*border-radius: 15px;*/
    /*color: #000;*/
    /*background-color: #fff;*/
    /*border: 1px solid rgba(50,58,69,.2);*/
    /*font-size: 14px;*/
    /*margin-top: 11px;*/
    /*white-space: nowrap;*/
    /*text-align: center;*/
    /*vertical-align: middle;*/
    /*cursor: pointer;*/
/*}*/
/*.pop-content button {*/
    /*width: 400px;*/
    /*height: 48px;*/
    /*border: none;*/
    /*background-color: #323a45;*/
    /*color: #fff;*/
    /*font-size: 24px;*/
    /*border-radius: 24px;*/
    /*cursor: pointer;*/
    /*transition: opacity .2s ease;*/
/*}*/
/*.pop-content button:hover {*/
    /*opacity: .9;*/
/*}*/
/*.pop-content div.close-btn {*/
    /*margin-top: 15px;*/
    /*text-align: center;*/
/*}*/
/*.pop-content a {*/
    /*color: rgba(0,0,0,.6);*/
    /*transition: color .2s ease;*/
    /*font-size: 14px;*/
/*}*/
/*.pop-content a:hover {*/
    /*color: rgba(0,0,0,.8);*/
/*}*/
/*.pop-box{*/
    /*display: none;*/
    /*position: absolute;*/
    /*z-index: 1000000;*/
/*}*/
/* 修改邮箱 */
/*.pop-content .account-input.captcha img {*/
    /*position: absolute;*/
    /*right: 4px;*/
    /*top: 6px;*/
    /*height: 40px;*/
    /*width: 95px;*/
    /*cursor: pointer;*/
/*}*/
/*!* 弹出窗口遮罩层 *!*/
/*.pop-shade {*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*background: rgba(50,58,69,.5);*/
    /*position: fixed;*/
    /*top: 0px;*/
    /*display: none;*/
    /*z-index: 999999;*/
/*}*/


